.mimino {
    background-color: rgba(251, 249, 195, 0.3);

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__title {
    @extend %h2;
            margin-bottom: 0;
        @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
            font-size: 36px;
        }
    }
    &__list {
    display: block;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        gap: 25px;
    
        @media screen and (min-width: 768px) {
        display: flex;
        }
    }

    &__item {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    
    &:not(:last-child) { 
        margin-bottom: 30px;
        }   
    &:not(:last-child) {
        @media screen and (min-width: 767px) {
            margin-bottom: 0px;
        }
    }       
}
}


.maket {
    max-height: 500px;
}

.list__title {
    margin: 30px 0 20px;
    text-transform: uppercase;
    color: var(--secondblack);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: .03em;
    text-align: center;
}
.task__tekst {
    margin-bottom: 30px;
        color: var(--secondblack);
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: .03em;
}
.task__span {
    
        font-size: 18px;
        font-weight: 500;
        line-height: 2;
        letter-spacing: .06em;
        color: var(--secondblack);
}
.projects__title {
        text-align: center;
        font-size: 16px;
}
.result {
    margin-top: 30px;
}
.project-link {
    width: 300px;
    height: 92px;
    display: flex;
    align-items: center;
    margin: 10px auto 0px;
    text-align: center;
    justify-content: center;
    color: var(--blue);
    border-radius: 4px;
    border: 1px solid var(--grey-light);
    & span {
            padding-left: 15px;
            font-family: 'FilmP3', sans-serif;
            font-weight: 700;
            font-size: 50px;
            line-height: 1.075;
            text-transform: uppercase;
            letter-spacing: 0.3em;
        }
    &:hover, &:focus {
        color: var(--grey-light);
        border: 1px solid var(--blue);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        transition: color 250ms var(--cubic),
            border 250ms var(--cubic), box-shadow 250ms var(--cubic);
    }

    & p {
        color: currentColor;
        font-size: 10px;
        line-height: 1.2;
        letter-spacing: .03em;
    }

    &__icon {
        fill: currentColor;
    }
    
}
.mimino-span {
    margin-left: 10px;
    font-family: 'FilmP3', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.075;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}