@font-face {
        font-family: 'FilmP3';
        font-style: normal;
        font-weight: 700;
        src: local(''),
            url('../fonts/FilmP3Bold.woff2') format('woff2'),
            url('../fonts/FilmP3Bold.woff') format('woff');
    }